.mask_image {
  mask-image: linear-gradient(180deg, #000 80%, transparent);
}

.reveal {
  display: inline-block;
  animation: reveal 1.3s cubic-bezier(0.19, 1, 0.22, 1) backwards;
  animation-delay: calc(0.03s * var(--index));
}

@keyframes reveal {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
